@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
body{
  font-family: 'Patrick Hand', cursive;
}
.card {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  img{
    border: 1px solid white;
    border-radius: 15px;
  }
  h1{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    color: #039be5;
  }
  h3{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
  }

  .footer{
    font-family: 'Patrick Hand', cursive;
    text-align: center;
  }